<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
      input[type='radio'] {
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        margin: 0;
      }
      input[type='radio']:after {
        display: block;
        content: '';
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 50%;
        border: 2px solid #bfbfbf;
      }
      input[type='radio']:checked:after {
        background: #0593d3;
        border: 2px solid #fff;
      }
    </style>
    <title>表单元素练习</title>
  </head>
  <body>
    <div id="app">
      <div v-bind="data">
        <h4>文本框</h4>
        <input v-model="inputInfo" type="text" />
        <br />
        <span>{{inputInfo}}</span>
        <hr />
        <h4>数字输入框</h4>
        <input v-model="numData" type="number" />
        <br />
        <span>{{numData}}</span>
        <hr />
        <h4>日期输入框</h4>
        <input v-model="dateInfo" type="date" />
        <br />
        <span>{{dateInfo}}</span>
        <h4>单选按钮</h4>
        <input class="radio" type="radio" id="one" value="one" v-model="checked" />
        <label for="one">第一个</label>
        <input class="radio" type="radio" id="two" value="two" v-model="checked" />
        <label for="two">第二个</label>
        <br />
        <span>选择了：{{checked}}</span>
        <hr />
        <h4>复选按钮</h4>
        <input class="checkbox" type="checkbox" value="chrome" v-model="checkname" />
        <label for="chrome">Chrome</label>
        <input class="checkbox" type="checkbox" value="firefox" v-model="checkname" />
        <label for="firefox">FireFox</label>
        <input class="checkbox" type="checkbox" value="Baidu" v-model="checkname" />
        <label for="Baidu">BaiDu</label>
        <br />
        <span>选择的项目有：{{checkname}}</span>
        <hr />
        <h4>下拉框</h4>
        <select v-model="selected">
          <option disabled value="">Please select one</option>
          <option>A</option>
          <option>B</option>
          <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
      </div>
    </div>
    <script type="text/javascript">
      let app = new Vue({
        el: '#app',
        data: {
          inputInfo: '',
          numData: null,
          dateInfo: null,
          checked: null,
          checkname: [],
          selected: null
        }
      })
    </script>
  </body>
</html>
